body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url('pict/bundesbg.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::after {
    content: "";
    position: fixed; /* Menggunakan fixed agar efek gelap mencakup seluruh layar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Menutupi seluruh halaman */
    background: rgba(0, 0, 0, 0.5); /* Efek gelap */
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D10214;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 1;
    font: bold;
}

header img {
    width: 70px;
    height: auto;
    margin-right: 15px;
}

h1, h2, p {
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
}

table {
    margin: 40px auto; /* Menambahkan jarak antara tabel dan elemen di sekitarnya */
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: auto;
}

form {
    text-align: center;
    margin-top: 20px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #D10214;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #A00010;
}

a:link {
    color: #D10214;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

td {
    transition: background-color 0.3s ease-in-out;
}

td:hover {
    background-color: whitesmoke;
}
